.paginate_link {
	color: rgb(255, 255, 255);
	background-color: rgb(123, 80, 111);
	margin: 15px 0px;
	padding: 4px 16px;
	border-radius: 15px;
	font-weight: 600;
	text-decoration: none;
}
.stops-container {
	color: rgb(71, 90, 148);
	display: flex;
}
.stop-container {
	margin-right: 4%;
	padding: 1%;
	border: 1px solid black;
}
.diable-link {
	pointer-events: none;
	color: rgba(224, 224, 224, 0.45);
}
.incomplete_stop {
	background-color: rgb(225, 117, 117);
}
.completed_stop {
	background-color: rgb(121, 230, 104);
}
.stops_page_wraper {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.company_details {
	background-color: rgb(173, 222, 218);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	font-size: xx-large;
	font-weight: bold;
}
.contact_number_wraper {
	color: rgb(255, 255, 255);
	background-color: rgb(123, 80, 111);
	margin: 15px 0px;
	padding: 4px 16px;
	border-radius: 15px;
	font-weight: 600;
}
.contact_number {
	color: rgb(224, 224, 224);
	text-decoration: none;
}
.google_image_icon {
	height: 50px;
}
.google_image_container {
	display: flex;
}
.pagination {
	font-size: 350%;
	margin-bottom: 3%;
}
/* TEST */
#map {
	height: 700px;
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
	margin-bottom: 5%;
}
