{% extends 'base.html' %}

{% block content %}
 <a class="nav-item nav-link" href="{% url 'create_schedule' %}">Create Schedule</a>

 <h1>Schedules List</h1> 
 
  {% if all_schedules %}
      <h1>Not Yet Started</h1>
        <ul>
          {% for schedule in all_schedules  %}
              {% if schedule.status == "NS" %}
              <a href="{% url 'schedule_detail' schedule.id %}">{{ schedule.id }}</a>
              <div>Driver: {{schedule.driver}}</div>
              <div>Start Time: {{schedule.start_time}}</div>
              <div>Route Name: {{shcedule.route_name}}</div>
              <br>
              {% endif %}
          {% endfor %}
        </ul>

      <h1>In Progress</h1>
        <ul>
          {% for schedule in all_schedules  %}
              {% if schedule.status == "IP" %}
              <a href="{% url 'schedule_detail' schedule.id %}">{{ schedule.id }}</a>
              <div>Driver: {{schedule.driver}}</div>
              <div>Start Time: {{schedule.start_time}}</div>
              <br>
              {% endif %}
          {% endfor %}
        </ul>


        <h1>Completed</h1>
        <ul>
          {% for schedule in all_schedules  %}
              {% if schedule.status == "FN" %}
              <a href="{% url 'schedule_detail' schedule.id %}">{{ schedule.id }}</a>
              <div>{{schedule.driver}}</div>
              <div>{{schedule.start_time}}</div>
              <br>
              {% endif %}
          {% endfor %}
        </ul>
    {% else %}
        <p>There are no Schedules.</p>
  {% endif %} 











{% endblock  %}